@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}


<section class="hero" id="inicio">
    <div class="hero-text">
        <h1>Sistemas Solutions</h1>
        <h2>Soluciones Inteligentes para tu Negocio</h2>

        <p>
            Sistemas operativos modernos para tiendas,
            supermercados, farmacias y negocios.
        </p>

        <a href="https://www.youtube.com/watch?v=KOwbu04W5V8"
           target="_blank">
            <button>Como Funciona</button>
        </a>

    </div>
</section>

<section class="empresa">

    <div class="empresa-texto">

        <h1>Nuestra Empresa</h1>

        <p>
            Sistemas Solutions es una empresa fundada el 24 de febrero
            del año 2021, dedicada al desarrollo de software de
            facturación y gestión administrativa para pequeña,
            mediana y grandes empresas.

            Creamos soluciones tecnológicas modernas para mejorar
            el control de ventas, inventarios y procesos administrativos.
        </p>

        <p>
            Durante nuestros años de trayectoria hemos desarrollado
            sistemas seguros, rápidos y fáciles de utilizar,
            adaptados a las necesidades del mercado actual.
        </p>

       

    </div>

    <div class="empresa-imagen">

        <img src="~/images/empresa.png" alt="Logo Empresa">

    </div>

</section>


<section class="contacto" id="contacto">
    <h2>Contáctanos</h2>

    <div class="contacto-contenedor">
        <div class="contacto-info">
            <div class="info-item">
                <h3>📍 Dirección</h3>
                <p>Avenida Roosevelt Sur, San Miguel, El Salvador</p>
            </div>

            <div class="info-item">
                <h3>✉️ Correo Electrónico</h3>
                <p><a href="mailto:soporte@sistemassolutions.com">soporte@sistemassolutions.com</a></p>
            </div>

            <div class="info-item">
                <h3>📱 Redes Sociales</h3>
                <div class="redes-enlaces">
                    <a href="https://linkedin.com" target="_blank">LinkedIn</a>
                    <a href="https://www.instagram.com/sistemssolutions?igsh=MXVkeW1hY3h1ODY5MQ==" target="_blank">Instagram</a>
                    <a href="https://www.facebook.com/share/1bzv29TUxd/" target="_blank">Facebook</a>
                </div>
            </div>
        </div>

        <div class="contacto-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62078.26380194275!2d-88.25706577832037!3d13.480783600000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f7b2b000bea518b%3A0x87e641c0ad2c6c!2sAvenida%20Roosevelt%2C%20San%20Miguel!5e0!3m2!1ses!2ssv!4v1781234797484!5m2!1ses!2ssv" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>