@page
@model Sistemas.Solution.Pages.ProductosModel
@{
    <section class="productos" id="productos">

        <h2>Sistemas Disponibles</h2>

        <div class="productos-container">


            <div class="producto">

                <img src="~/images/Storepro.jpg" alt="StorePro">

                <h3>Sistema de tiendas </h3>

                <p>
                    Sistema ideal para tiendas pequeñas.
                </p>

                <span>$120</span>
              

            </div>


            <div class="producto">

                <img src="~/images/MarketControl.png" alt="MarketControl">

                <h3>Control de Mercado</h3>

                <p>
                    Perfecto para supermercados.
                </p>

                <span>$250</span>
                

            </div>


            <div class="producto">

                <img src="~/images/PharmaSystem.png" alt="PharmaSystem">

                <h3>Sistema Farmacéutico</h3>

                <p>
                    Especial para farmacias.
                </p>

                <span>$165</span>
              

            </div>

        </div>

    </section>
}
